<head>
    <title>{{ siteTitle }}</title>
    <meta name="description" content="Beautifully display your library on the Internet">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#1C1C1C" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#FFFFFF">

    <link rel="apple-touch-icon" href="/images/logo/apple-touch-icon.png">
    <link rel="mask-icon" href="/images/logo/pinned-tab.svg" color="#212529" />
    <link rel="shortcut icon" href="/images/logo/favicon.ico" />

    <!-- Facebook / Open Graph -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Shelf" />
    <meta property="og:description" content="Beautifully display your library on the Internet" />
    <meta property="og:url" content="{{ siteUrl }}" />
    <meta property="og:image" content="{{ siteUrl }}/images/logo/share-image.jpg"/>
    <meta property="og:site_name" content="Shelf" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    {% if twitterHandle %}
    <meta name="twitter:site" content="{{ twitterHandle }}" />
    {% endif %}
    <meta name="twitter:title" content="Shelf" />
    <meta name="twitter:description" content="Beautifully display your library on the Internet" />
    <meta name="twitter:image" content="{{ siteUrl }}/images/logo/share-image.jpg" />
    <meta name="twitter:url" content="{{ siteUrl }}" />

    <link rel="stylesheet" href="/css/reset.min.css">
    <link rel="stylesheet" href="/css/core.min.css">

    <!-- Development version, includes helpful console warnings -->
    <!-- <script src="https://unpkg.com/vue@3.4.30/dist/vue.global.js"></script> -->
    <!-- Production version -->
    <script src="https://unpkg.com/vue@3.4.30/dist/vue.global.prod.js"></script>
</head>